* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pasta{
    background-image: url(../../static/img/pastas.jpg);
    background-size: cover;
    height: 100vh;
}
.burguer{
    background-image: url(../../static/img/burguer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.papas{
    background-image: url(../../static/img/papas.jpg);
    background-size: cover;
    height: 100vh;
}
.picada{
    background-image: url(../../static/img/picada.jpg);
    background-size: cover;
    height: 100vh;
}
.bebida{
    background-image: url(../../static/img/drink.jpg);
    background-size: cover;
}
.pizza{
    background-image: url(../../static/img/pizza.jpg);
    background-size: cover;
    height: 100vh;
}
.card {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-color: rgb(106, 44, 112, 0.2);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid hwb(0 61% 39%);
    border-radius: 10px;
    justify-content: center;
    font-size: 15px;
    transform: rotateY(0deg);
}
.card-back {
    background-color: rgb(106, 44, 112, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
    border: 3px solid hwb(0 61% 39%);
    border-radius: 10px;
    justify-content: center;
    font-size: 15px;
    transform: rotateY(180deg);
}
